In [3]:
a=("a","b","c")
print (a)

('a', 'b', 'c')

In [6]:
l=[1,2,3]
l

[1, 2, 3]

In [7]:
l2=[4,5,6,7,l]

In [8]:
l2

[4, 5, 6, 7, [1, 2, 3]]

In [10]:
l3=[l2,(a)]

In [11]:
l3

[[4, 5, 6, 7, [1, 2, 3]], ('a', 'b', 'c')]

In [13]:
l3[1]

('a', 'b', 'c')

In [14]:
l2[0:2]

[4, 5]

In [15]:
l2[-1]

[1, 2, 3]

In [16]:
l1=[5,6,7,8]

In [32]:
l1

[5, 10, 4, 7, 8, 4, 5, 6, 7, [1, 2, 3], 11]

In [28]:
a=11

In [31]:
l1.extend([11])

In [36]:
l1.remove(4)

In [43]:
my_list=["a","b","c","a","b"]

In [41]:
my_list.remove("a")

In [44]:
my_list.count("a")

2

In [45]:
a=["aaa","nnn","aaa","nnn","bbb"]

In [52]:
a.count("aaa")

In [48]:
l1.sort

In [49]:
l1

[4, 5, 5, 6, 7, 7, 8, 10, [1, 2, 3], 11]

In [55]:
a.reverse()

In [69]:
a

1

In [57]:
#tuples#


t1=(1,2,3)

In [58]:
t1

(1, 2, 3)

In [59]:
t2=(2.34,45,"sd")

In [60]:
t2

(2.34, 45, 'sd')

In [61]:
a=1,2
a

(1, 2)

In [62]:
x=(1,)
x

(1,)

In [64]:
x[0]

1

In [65]:
(a,b,c)=("x","y","z")

In [68]:
data=(1,2,3)
a,b,c=data

In [ ]:
#dictionaries#

In [71]:
dic={1:"nani",2:"deep",3:"sonu",4:"chinnu"}
dic

{1: 'nani', 2: 'deep', 3: 'sonu', 4: 'chinnu'}

In [72]:
d={'jan':200,'feb':300,'mar':900}
d

{'jan': 200, 'feb': 300, 'mar': 900}

In [73]:
d.values()

dict_values([200, 300, 900])

In [74]:
d.get('jan')

200

In [75]:
d1={1:"market",2:"hr",3:"finance",4:"workers",5:"stdents"}
d1.items()

dict_items([(1, 'market'), (2, 'hr'), (3, 'finance'), (4, 'workers'), (5, 'stdents')])

In [76]:
k="""welcome
to gnits"""

In [77]:
k

'welcome\nto gnits'

In [82]:
k[10]

' '

In [80]:
k[-1]

's'

In [83]:
l="hie"
m="hello"
n="gm"

In [86]:
z=l+" "+m+" "+n+" "
z

'hie hello gm '

In [89]:
a=set([1,2,3,4])
b=set([3,4,5,6])

In [90]:
a<b

False

In [91]:
a-b

{1, 2}

In [92]:
a^b

{1, 2, 5, 6}

In [93]:
c=a.intersection(b)

In [94]:
c

{3, 4}